<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/">Index</a>
    <a href="/landing">Landing</a>

    <h1>Index - Login / Registration </h1>
    
    <h2>Registration</h2>
    <form action='/register' method='post'>
        <input type='text' name='name' placeholder="name"><br>
        <input type='text' name='email' placeholder="email"><br>
        <input type='text' name='password' placeholder="password"><br>
        <input type='text' name='password_conf' placeholder="password_conf"><br>
        <button type="submit">Register</button>
    </form>

    <h2>Login</h2>
    <form action='/login' method='post'>
        <input type='text' name='email' placeholder="email"><br>
        <input type='text' name='password' placeholder="password"><br>
        <button type="submit">Login</button>
    </form>

    

</body>
</html>